// Imported fonts

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

// Colors

$primary-black: #020202;
$primary-white: #F6FAFF;
$secondary-blue: #3255AD;
$secondary-gray: #CCB89D;

// Fonts

$primary-font: 'Jost', sans-serif;
$secondary-font: 'Josefin Sans', sans-serif;