.articles {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  padding: $space-section-medium;
  background-color: $color-primary-white;

  hr{
    width: 3px;
    height: 90%;
    margin: $space-elements-big;
  }

  &-content{
    display: flex;
    flex-flow: column nowrap;
    min-width: 200px;
    width: 50%;

    a{
      margin-top: $space-elements-big;
    }
  }
}

@media screen and (max-width: 420px) {
  .articles{
    flex-flow: column nowrap;
    justify-content: center;

    &-content{
      align-items: center;
    }
  }
}