.cardList{
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 100%;
  padding: $space-elements-big;
  background-color: $color-primary-black;
  overflow-x: scroll;

  & .card {
    margin-right: $space-section-medium;
  }
}