.cardDetail {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 85% 15%;
  border: $color-secondary-gray solid 1px;
  position: relative;
  background-color: $color-primary-black;
  color: $color-primary-white;
  padding: 73px 75px 59px 28px;
  & h1 {
    height: 102px;
    position: absolute;
    left: 67px;
    top: -57px;
    background-color: $color-primary-black;
  }
  
  & .info-container {
    & .cardInfo {
      margin-bottom: 40px;
    }
    & .labelCard {
      margin-right: 109px;
      margin-bottom: 40px;
    }
  }
  & .info-container-bottom {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: $space-elements-small;
    & .labelCard {
      margin-right: 45px;
      margin-bottom: 30px;
    }
  }
  & img {
    width: 400px;
  }
}