.cardList{
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  padding: $space-elements-big;
  background-color: transparent;
  overflow-y: hidden;
  overflow-x: scroll;

  & .card {
    margin-right: $space-section-medium;
  }
}