%header {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  background-color: $color-primary-white;
}

.header {
  @extend %header;
  &-dark {
    @extend %header;
    background-color: $color-primary-black;
  }
}
