%astheroid {
  width: 128px;
  height: 128px;
  transform: translate(-50%, 0);
  position: absolute;
  background: url('/images/astheroidSprite.png');
  animation: playX 1s steps(8) infinite,
              playY 8s steps(8) infinite;
}

.card {
  max-width: 300px;
  min-width: 300px;
  height: 420px;
  border: $color-secondary-gray solid 1px;
  position: relative;
  background-color: $color-primary-black;
  color: $color-primary-white;
  text-align: center;
  @include animationScale;
  &-astheroid {
    @extend %astheroid;
    top: -64px;
    left: 50%;
    background-color: $color-primary-black;
  }
  & h4 {
    color: $color-secondary-gray;
    font-weight: $font-weight-bold;
    margin-top: $space-absolute-xbig;
    margin-bottom: $space-elements-medium;
  }
  & .labelCard {
    margin-bottom: $space-section-big;
    &:last-of-type {
      margin-bottom: $space-elements-small;
    }
  }
}