.footer-social {
  text-align: center;
  color: $color-primary-white;
  p {
    margin-bottom: $space-elements-small;
    font-family: $font-primary;
    font-weight: $font-weight-bold;
  }
  .social {
    font-size: $font-size-p;
    & svg {
      margin-right: $space-elements-small;
    }
    & svg:last-child {
      margin-right: 0;
    }
  }
}