.labelCard{
  display: inline-block;
  text-align: left;

  &-title{
    display: block;
    color: $color-primary-white;
  }

  &-description{
    font-size: $font-size-strong;
    font-weight: $font-weight-light;
    color: $color-primary-white;
  }
} 