%button {
  display: inline-block;
  box-sizing: border-box;
  min-width: 270px;
  max-width: 270px;
  text-align: center;
  padding: $space-elements-small;
  border: $color-primary-white 1px solid;
  background-color: $color-primary-black;
  color: $color-primary-white;
  font-family: $font-primary;
  font-size: $font-size-p;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.button {
  @extend %button;

  &:hover {
    box-shadow: $hover-effect;
  }

  &-primaryBlack{
    @extend %button;
    border: $color-primary-white 1px solid;
    background-color: $color-primary-black;
    color: $color-primary-white;

    &:hover{
      box-shadow: $hover-effect;
    }
  }

  // -------Secondary Button -------
  &-primaryWhite{
    @extend %button;
    background-color: $color-primary-white;
    border: none;
    color: $color-primary-black;

    &:hover{
      box-shadow: $hover-effect;
    }
  }

  &-secondaryGray{
    @extend %button;
    background-color: $color-secondary-gray;
    border: none;
    color: $color-primary-black;

    &:hover{
      box-shadow: $hover-effect;
    }
  }

  &-secondaryBlue{
    @extend %button;
    background-color: $color-secondary-blue;
    border: none;
    color: $color-primary-white;

    &:hover{
      box-shadow: $hover-effect;
    }
  }
}
