@import './reset';
@import './variables';

// Components

// Atoms
@import './components/atoms/Atoms.scss';
@import './components/atoms/Buttons.scss';
@import './components/atoms/LogoLoading.scss';

// Molecules
@import './components/molecules/Sidebar.scss';
@import './components/molecules/Loading.scss';
@import './components/molecules/Menu.scss';
@import './components/molecules/Footer.scss';

// Organisms
@import './components/organisms/Header.scss';

// Layouts
@import '../styles/layouts/LayoutsDS.scss';

// Containers
@import './containers/AtomsStyles.scss';

// Animations
@import './animations/Animations.scss';

