@import './reset';
@import './variables';

// Layouts
@import '../styles/layouts/LayoutsDS.scss';

// Containers
@import './containers/SystemContent.scss';

// Animations
@import './animations/Animations.scss';

// Components

// Atoms
@import './components/atoms/Atoms.scss';
@import './components/atoms/Buttons.scss';
@import './components/atoms/LogoLoading.scss';
@import './components/atoms/Scroll.scss';

// Molecules
@import './components/molecules/Sidebar.scss';
@import './components/molecules/Loading.scss';
@import './components/molecules/Menu.scss';
@import './components/molecules/LabelCard.scss';
@import './components/molecules/Article.scss';
@import './components/molecules/CuriosityFacts.scss';
@import './components/molecules/CardInfo.scss';
@import './components/molecules/Footer.scss';
@import './components/molecules/Hero.scss';
@import './components/molecules/Card.scss';

// Organisms
@import './components/organisms/Header.scss';
@import './components/organisms/Articles.scss';
@import './components/organisms/CardDetail.scss';

@import './components/organisms/CardList.scss';
