// ---------- Imported Fonts ----------
// ---------- Imported Fonts ----------

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


// ---------- Colors ----------
// ---------- Colors ----------

$color-primary-black: #020202;
$color-primary-white: #F6FAFF;
$color-secondary-blue: #3255AD;
$color-secondary-gray: #CCB89D;



// ---------- Fonts ----------
// ---------- Fonts ----------

$font-primary: 'Jost', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;

// ---------- Font sizes ----------
// Titles
$font-size-special: 210px;
$font-size-h1: 90px;
$font-size-h2: 45px;
$font-size-h3: 42px;
$font-size-h4: 39px;
$font-size-h5: 21px;

// Paragraphs and normal text
$font-size-p: 18px; 
$font-size-strong: 21px; 
$font-size-small: 16px; 

// Font weights
$font-weight-regular: 500;
$font-weight-bold: 900;



// ---------- Spacing ----------
// ---------- Spacing ----------

// Space Elements
// The spaces of elements indicates the margins or paddings that may can have elements like buttons, links, a, sections inside them, etc.
$space-elements-big: 15px; // Sections
$space-elements-small: 12px; // Buttons

// Spaces Sections
// The spaces of section are used when a section or article it's finished and start another sections about some subject.
$space-section-big: 45px; // Are used when it's finished a section about a subject and start another section with other subject
$space-section-medium: 42px; // Are used for separate elements with a same purpose (cards)
$space-section-small: 39px; // Are used when it's finished the article or paragraphs with the same parent

// ---------- Spacing ----------
// ---------- Spacing ----------


// ---------- Hovers ----------
// ---------- Hovers ----------

$hover-effect: 0 0 24px rgba($color: #ffffff,$alpha: 1);


// ---------- Shadows ----------
// ---------- Shadows ----------
$shadow-normal-white: 0 0 24px rgba($color: $color-primary-white, $alpha: .6);
$shadow-small-white: 0 0 12px rgba($color: $color-primary-white, $alpha: .6);