button {
  font-family: $font-primary;
  min-width: 150px;
  text-align: center;
  border: $color-primary-white 1px solid;
  padding: $space-elements-small;
  font-size: $font-size-p;
  background-color: $color-primary-black;
  color: $color-primary-white;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:hover{
    box-shadow: 0 0 12px rgba(255,255,255,0.6);
  }

  // -------Secondary Button -------
  &.secondary{
    background-color: $color-primary-white;
    border: $color-primary-black 1px solid;
    color: $color-primary-black;

    &:hover{
      box-shadow: 0 0 12px rgba(12,12,12,0.3);
    }
  }

  &.gray{
    background-color: $color-secondary-gray;
    border: $color-primary-black 1px solid;
    color: $color-primary-black;

    &:hover{
      box-shadow: 0 0 12px rgba(12,12,12,0.3);
    }
  }

  &.blue{
    background-color: $color-secondary-blue;
    border: $color-primary-black 1px solid;
    color: $color-primary-white;

    &:hover{
      box-shadow: 0 0 12px rgba(12,12,12,0.3);
    }
  }
}