@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes playX {
  from {background-position-x: 0;}
  to {background-position-x: -1024px;}
}
@keyframes playY {
  from {background-position-y: 0px;}
  to {background-position-y: -1024px;}
}

@mixin animationScale {
  transition-duration: 0.5s;
  transition-property: all;
  &:hover {
    transform: scale(1.2);
  }
}

@mixin animationGrayScale {
  transition-duration: 1s;
  transition-property: all;
  &:hover {
    filter: grayscale(0);
  }
}