
.systemContent {

  &--information{
    margin-bottom: $space-section-medium;
  }

  &--section {
    position: relative;
    width: 100%;
    min-height: 120px;
    height: auto;
    padding: $space-elements-big;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    box-sizing: border-box;
    margin-bottom: $space-section-medium;

    &--components{
      position: relative;
      display: flex;
      align-items: center;
      flex-flow: row wrap-reverse;
      height: auto;
      padding: $space-elements-big 0;

      & * {
        margin-right: $space-elements-big;
      }

      & div {
        width: 60%;
        padding: $space-elements-small;
        border-left: 2px $color-primary-black solid;
      }
    }
  }
}

@media screen and (max-width: 1192px){
  
.systemContent {



  &--section {

    &--components{

      & div {
        width: 90%;
        padding: $space-elements-small;
        border-left: none;
        border-top: 2px $color-primary-black solid;
      }
    }
  }
}

}
